.profile-pic {
    width: 400px;
    margin-top: 2em;
    margin-left: 9em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    margin-top: -0.75em;
    margin-left: 1.02em;
    width: 630px;
    line-height: 75px;
}

.jate-header{
    margin-top: -260px;
}

.about-me {
    font-size: 22px;
    width: 600px;
    margin-top: -25em;
    margin-left: 29em;
}

.bio {
    margin-top: 10em;
    margin-right: 10em;
}

img {
    max-width: 100%;
}

.about-box {
    margin-top: 25px;
    margin-bottom: 230px;
}

.about-foot {
    margin-top: 50px;
}

.hello {
    font-family: mighty-slab, serif;
    font-style: normal;
    margin-left: .75em;
    margin-top: -.45em;
}

.page-title {
    font-family: lust;
    font-size: 75px;
}