.profile-pic {
    width: 400px;
    margin-top: 2em;
    margin-left: 9em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    margin-top: -0.75em;
    margin-left: 1.02em;
    width: 300px;
}

.hello {
    margin-top: 10em;
}

.about-me {
    font-size: 22px;
    width: 600px;
    margin-top: -28.5em;
    margin-left: 29em;
}

.bio {
    margin-top: 10em;
    margin-right: 10em;
}

img {
    max-width: 100%;
}