* {
	margin:0;
	padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2B05E;
    color: #F2EBDF;
}

.page-title {
    font-size: 45px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type:none;
}

.nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 10px;
    padding-right: 0px
}

#contact {
    z-index: -1;
    width: 880px;
    margin: -400px 0 0 521px;
}

.folio-title {
    margin-left: 620px;
    font-family: mighty-slab, serif;
    font-weight: normal;
    font-size: 75px;

}

#title-main,
#title-second,
#title-third,
#title-fourth {
    display: inline;
    position: absolute;
    left: 1.5%;
    font-family: mighty-slab, serif;
    font-style: normal;
    font-size: 45px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-box,
.icon-box3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 0px;
    margin-left: 480px;
    margin-top: 20px;
}

.icon-box5 {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 0px;
    margin-left: 540px;
    margin-top: 20px;
}

.icon-box2,
.icon-box4,
.icon-box6 {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* margin-right: 25px; */
    margin-left: 815px;
    margin-top: 20px;
}

.heroku {
    margin-bottom: -40px;
    width: 64px;
    height: 64px;
}

.icon {
    width: 120px;
    /* height: 100px; */
    padding: 0;
}

.icon5 {
    width: 120px;
    /* height: 100px; */
    padding: 0;
}

.heroku {
    width: 64px;
}

.github {
    width: 120px;
}

#title-main {
    z-index: 3;
    color: #8C2626;
    font-weight: 400;
}

#title-second {
    z-index: 2;
    color: #F2EBDF;
    font-weight: 500;
}

#title-third {
    z-index: 1;
    font-weight: 600;
    color: #D93425;
}

#title-fourth {
    font-weight: 700;
    color: #F2EBDF;
}

ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-family: lust-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

a {
    color: #F2EBDF;
    text-decoration: none;
    list-style-type:none;
    margin-left: 10px;
}

a:hover {
    color: #8B2729;
    /* font-weight: 600; */
}

#thumbnail-1 {
    /* Positioning */
    left: 9em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

.detail {
    margin-top: -170px;
}

#thumbnail-3 {
    /* Positioning */
    left: 9em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-2 {
    /* Positioning */
    left: 50em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-4 {
    /* Positioning */
    left: 50em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-5 {
    /* Positioning */
    left: 9em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-6 {
        /* Positioning */
        left: 50em;
        top: 5em;
        width: 500px;
        /*Shaping*/
        border-radius: 10%;
}

.d-title {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -75px;
    margin-left: 710px;
}

.d-title3,
.d-title5 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -250px;
    margin-left: 710px;
}

.d-title2 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -250px;
    margin-left: 250px;
}

.d-title4 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -230px;
    margin-left: 290px;
}

.d-title6 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    color: #8B2729;
    margin-top: -275px;
    margin-left: 95px;
}

p {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: 15px;
    margin-left: 710px;
    width: 600px;
}

.para3 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: 15px;
    margin-left: 710px;
}

.para2 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: 15px;
    margin-left: 80px;
    text-align: right;
    width: 640px;
}

.para4 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: 5px;
    margin-left: 80px;
    text-align: right;
    width: 640px;
}

.para5 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: 15px;
    margin-left: 710px;
}

.para6 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: 5px;
    margin-left: 80px;
    text-align: right;
    width: 640px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#splash-text {
    /* Type */
    font-family: mighty-slab, serif;
    font-size: 115px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    /* Sizing */
    margin: 0 0 0 10px;
}

.container {
    margin-top: 25px;
}

.definition,
.say-it {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 15px;
    color: #8B2729;
    line-height: 20px;
    font-size: 18px;
}

.say-it {
    margin-top: 5px;
    margin-bottom: 10px;
}


.say-it {
    margin-top: -25px;
}

.definition {
    margin-top: -10px;
}

#manifest {
    width: 750px;
    margin: 150px 0 0 325px;
}

img {
    position: relative;
    z-index: -1;
}

footer {
    display: flex;
    margin: 65px 0 10px 0;
    justify-content: center;
    align-items: center;
    color: #000
}
.home-foot {
    margin: 65px 0 10px 0;
}

.folio-foot {
    margin: 50px 0 25px 0;
}

span {
    margin-left: -5px;
}

/* Contact Page Form */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 320px;
}

textarea {
    width: 320px;
    height: 300px;
}

.contact-foot {
    margin: 290px 0 10px 0;
}

@media screen and (max-width: 1200px) {
    .nav{
        padding: 5px;
        margin-right: -200px;
    }

    .home-foot {
        margin: 65px -190px 10px 0px;
    }
}
@media screen and (max-width: 992px) {
    .nav{
        padding: 5px;
        margin-right: -415px;
    }

    .home-foot {
        margin: 65px -415px 10px 0px;
    }
}
@media screen and (max-width: 768px) {
    .nav{
        padding: 5px;
        margin-right: -495px;
    }

    .home-foot {
        margin: 65px -520px 10px 0px;
    }
}
@media screen and (max-width: 576px) {

}